.hero {
    min-width: 20rem;
    background-color: #b1a8a8;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
    animation: fade 2s alternate infinite linear;
}

@keyframes fade {
    from { background-color: #b1a8a8; }
    to { background-color: hsl(0, 5%, 50%); }
}