.card {
    background-color: #b1a8a8;
    position: relative;
    flex: 1;
    border-radius: 1rem;
    padding: 0.7rem;
    min-height: 17rem;
    min-width: 25rem;
    max-width: 30rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card .moreInfo {
    flex-grow: 1;
}
.card a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    text-decoration: none;
}
.card button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
