.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main section {
    margin: 0 20px;
}
.loader {
    padding: 0 20px;
}
.form {
    margin: 2rem auto;
    max-width: 40rem;
    background-color: #b1a8a8;
    border-radius: 1rem;
    text-align: center;
    color: rgb(31, 8, 8);
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}
.form button {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}
.form select {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: large;
    max-width: 97%;
    cursor: pointer;
}
.form input {
    background-color: black;
    border-radius: 1rem;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}
.totalNumber {
    font-size: x-large;
    font-weight: bold;
}
.cardSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: center;
}
.Error {
    color: red;
    background-color: black;
    margin: 1rem auto;
    padding: 1rem;
    font-weight: bolder;
    font-size: x-large;
}